@import '../../assets/scss/variables';

html,
body {
  min-height: 100vh;
  background-color: $lightgray;
  overflow-x: clip;
}

.container {
  display: flex;
  max-width: 425px;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}
