@use "sass:map";

@import '../../assets/scss/helpers';

html,
body {
  min-height: 100vh;
  background-color: $lightgray;
  overflow-x: clip;
}

.container {
  display: flex;
  max-width: 425px;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

// notion multi select colors
@each $color, $map in $notion_multi_select_colors {
  .notion-multi-select-color-#{$color} {
    background-color: map-get($map, "background");
    color: map-get($map, "text");
  }
}
