@import '../../assets/scss/helpers';

.message {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
}

.icon {
  animation: error-attension 1s cubic-bezier(1,0,0,1) 1 forwards;
  color: $darkgray;
  font-size: 28px;
}

.text {
  color: $black;
  font-size: 12px;
}

@keyframes error-attension {
  0% {
    font-size: 28px;
  }
  80% {
    color: red;
    font-size: 80px;
  }

  100% {
    color: red;
    font-size: 50px;
  }
}
