@import '../../assets/scss/variables';

.footer {
  display: flex;
  height: 100px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  color: $darkgray;
  font-size: 10px;
  font-weight: 700;

  a {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1;
  }

  .icon {
    font-size: 16px;
  }
}
