// helpers
@import '../../assets/scss/helpers';

// components
.footer {
  flex: 0 0 auto;
  padding: 30px 16px;
  color: $darkgray;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  gap: 4px;
  line-height: 1;

  .icon {
    font-size: 16px;
  }
}

.github {
  margin-top: 12px;

  a {
    display: inline-block;
    opacity: 0.2;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 18px;
  }
}
