// helpers
@import '../../assets/scss/helpers';

// pages
.detail {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  background-color: $white;
}

.thumbnail-block {
  position: relative;
  z-index: 2;
  display: flex;
  overflow: hidden;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: $lightgray;

  .thumbnail {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  .zoomin {
    position: absolute;
    z-index: 2;
    right: 12px;
    bottom: 12px;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: rgba($white, 0.9);
    box-shadow: 0 0 10px -2px rgba($black, 0.3);

    span {
      font-size: 26px;
    }
  }

  .background {
    @include disabled;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
  }
}

.data-block {
  .title {
    padding: 12px 16px;
    background-color: $lightgray;
    font-size: 14px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 16px 0 0;
    gap: 8px;
    list-style: none;
  }

  li {
    color: $dark;
    font-size: 12px;
  }

  .tags {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    gap: 4px;

    span {
      display: inline-flex;
      height: 20px;
      align-items: center;
      justify-content: center;
      padding: 0 6px;
      border-radius: 4px;
    }
  }
}

.content-block {
  padding: 16px;
  font-size: 14px;
}
